.publishRideLink{
    display: flex;
    margin:10px;
    color: rgb(0, 175, 245);
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}
.publishRideImg{
    height: 25px;
    width: 25px;
    margin-right: 8px;
    margin-top: 8px;
}

.accessabilitie{
  
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}
.publishRideText{
    margin-top:10px;
    font-size: large;
}