.my-otp {
    height: 730px;
    margin-top: 0px;
    /* background-color: wheat; */
    /* border-top: 3px solid black; */
  }
  .otp-head {
    background-color: black;
    border: 2px solid black;
    color: white;
  }
  
  .otp-box {
    margin: auto;
    width: 400px;
    height: 400px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: aliceblue;
  }
  .otp {
    position: relative;
    bottom: -100px;
  }
  .otp-input{
    font-size: 18px;
    width: 150px;
    height: 25px;
  }
  .cnt-btn{
    position: relative;
    cursor: pointer;
    border: none;
    margin: auto;
    margin-top: 20px;

  }
  .btn{
    border: none;
    background-color: transparent;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
  }